/*body{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
}

h1{
  font-size: 2rem;
}

.featured{
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  color: #de0222;
}*/

body{
  background: url("../img/background-image.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-
}


/*GENERAL IMAGES SETTINGS*/
.img_shadow_miniature{
  box-shadow: 0px -10px 10px rgba(0,0,0,0.5);
}

.img_shadow_button{
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
  box-shadow: 0px 0px 10px black;
}


/*HEADER*/
#main_header{
  position: absolute;
  width: calc(100% - 120px);
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
}
#main__header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main_header .main_image{
  display: flex;
}
.main_image{
  position: absolute;
  width: 100%;
}
.overlay_image{
  position: absolute;
  width: 15%;
  height: auto;
  padding-left: 5%;
  padding-top: 2%;
}
.container_header{
  width: 100%;
  height: 100%;
  padding-top: 11.1%;
}
.banner_button_cv {
  position: absolute;
  width: 10%;
  right: 0%;
}
.banner_button_portfolio{
  position: absolute;
  width: 10%;
  right: 10%;
}


/*MAIN*/
#main_content{
  width: calc(100% - 120px);
  padding-top: 20%;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 120px;
}
.features{
  background-color: #e9e9ea;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  padding: 40px 0;
}
.features ul{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1.5rem;
}
.features ul li{
  display: flex;
  align-items: center;
  justify-content: center;
}
.features ul li figure{
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem;
}
.img_grid{
  max-width: 100%;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


/*FOOTER*/
#main_footer{
  background-color: #426c6d;
  margin-top:-40px;
}
#main_footer ul{
  display:flex;
}
#main_footer ul a{
  display:inline-block;
  margin-top: 50px;
  margin-bottom:50px;
}
.footer_distribution{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer_distribution p{
  margin-left: 60px;
  margin-right: 150px;
}
.footer_distribution a{
  margin-left: -40px;
  margin-right: 60px;
}


/*CVPAGE*/
.cvdiv{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.cvdiv p{
  margin-left: 60px;
}
.cvtext{
  background-color: #598756;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  margin-left: 100px;
  max-width: 800px;
}
.cvtext article{
  margin-top:30px;
  margin-left:30px;
  margin-right:30px;
  margin-bottom:30px;
}
.img_cv{
  margin-left: 50px;
  margin-right: 200px;
}
.img_cv ul{
  list-style-type: none;
}
.img_blur{
  filter: blur(2px);
}


/*PORTFOLIO PIECE*/
.img_set{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.img_set ul{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.9rem;
}


/*SCRIPTS*/
.sticky{
  position: fixed;
  top: 0;
  right:60px;
}
